@import "partials/colors";
@import "partials/mixins";

html {
    padding: 0;
    margin: 0;
}
body {
    background: $mercury-color;
    Font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

    @include tablet {
        margin: 0;
        padding: 0;
    }

    @include desktop {
        margin: 0;
        padding: 0;
    }
}

.header {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $black-color;

    @include tablet {
        flex-direction: row;
    }

    &__logo {
        padding: 16px;

        @include tablet {
            padding: 24px;
        }
        @include desktop {
            padding-left: 180px;
        }
    }

    &__nav {
        a:hover {
            border-bottom: 5px solid white;
        }

        a {
            color: $silver-color;
            font-size: 14px;
            line-height: 22px;
            text-decoration: none;

            @include tablet {
                padding-left: 60px;
                font-size: 16px;
                line-height: 24px;
            }
        }

        &--biography {
            padding: 0 50px;

            @include tablet {
                padding-bottom: 25px;
            }
        }

        &--shows {
            padding: 0 50px;

            @include tablet {
                padding-bottom: 25px;
            }
        }
    }
}

.hero {
    position: relative;

    &__song {
        width: 250px;
        position: absolute;
        top: 45%;
        left: 10%;
    
        @include tablet {
          top: 60%;
          left: 3%;
          width: 400px;
        }
    
        @include desktop {
          top: 40%;
          left: 55%;
        }
      }


    p {
    position: absolute;
    color: white;
    font-size: 14px;
    line-height: 22px;
    width: 70%;
    top: 10px;
    padding-left: 16px;

    @include tablet {
        padding-left: 24px;
        font-size: 24px;
        line-height: 32px;
        width: 40%;
        top: 100px;
    }

    @include desktop {
        padding-left: 180px;
        width: 30%;
        top: 100px;    }
    }

    h1 {
        position: absolute;
        color: white;
        font-size: 24px;
        line-height: 32px;
        width: 70%;
        top: 35px;
        padding-left: 16px;

        @include tablet {
            padding-left: 24px;
            font-size: 36px;
            line-height: 44px;
            width: 50%;
            top: 150px;
        }

        @include desktop {
            padding-left: 180px;
            width: 30%;
            top: 180px;
        }
        
    }
    &__img {
        height: 472px;
        width: 100%;

        @include tablet {
            height: 670px;
        }

        @include desktop {
            height: 670px;
        }
    }
}

.shows {
    background-color: $alabaster;
    padding-bottom: 30px;

    h1 {
        color: $black-color;
            font-size: 24px;
            line-height: 32px;
            margin: 0px;
            padding: 24px 16px;

            @include tablet {
                font-size: 36px;
                line-height: 44px;
                padding-left: 24px;
            }

            @include desktop {
                padding-left: 180px;
            }

    }

    &__box {
 
        padding: 0 16px;
        margin: 0 16px;
        border-bottom: solid 3px $silver-color;

        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
        }

        @include desktop {
            margin-left: 360px;
            margin-right: 180px;
        }
       
    

        &--date {

            &__text1 {
                color: $silver-color;

                
            }

            &__text2 {
                font-weight: bold;
                color: $black-color;
                width: 160px;
                margin-right: 10px;
            }

            &__text3 {
                font-weight: lighter;
                color: $black-color;                
            }

            &__text01 {
                color: $black-color;

                @include tablet {
                    display: none;    
                }
            }
        }

        &--btn {
            input {
                width: 233px;
                height: 60px;
                padding: 10px;
                margin: 10px 16px;
                background-color: $black-color;
                color: white;
                border-radius: 5px;
            }
        }

    }

}

.get {
    background-color: $black-color;
    &__info {
        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &--heading {
            color: white;
            font-size: 24px;
            line-height: 32px;
            margin: 0px;
            padding: 24px 16px;

            @include tablet {
                font-size: 36px;
                line-height: 44px;
                padding-left: 24px;
            }
            @include desktop {
                padding-left: 180px;
            }
        }

        &--social {
            padding: 24px 16px;

            img {
                padding-right: 15px;
            }
        }

        &--logo {
            display: none;
            padding: 16px;

            @include tablet {
                display: flex;
                justify-content: space-between;
                display: block;
                padding-right: 24px;
            }

            @include desktop {
                padding-right: 180px;
            }
        }

        &--contact {
            padding: 16px;

            @include tablet {
                padding: 24px;
                display: flex;
                justify-content: space-between;
            }

            @include desktop {
                padding: 0 180px;
            }

            P {
                color: white;
                font-size: 13px;
                line-height: 18px;

                @include tablet {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }

    &__copyrights {
        color: white;
        font-size: 13px;
        line-height: 18px;
        padding: 16px;

        @include tablet {
            font-size: 14px;
            line-height: 20px;
            display: flex;

            p {
                padding-left: 5px;
            }
            @include desktop {
                padding-left: 180px;
            }
        }
    }
}


